.main_content img {
    max-width: 100% !important;
    width: auto;
    height: auto !important;
}

.main_content table {
    max-width: 100% !important;
    width: 100% !important;
}

.main_content {
    max-width: 100%;
    margin: auto;
}
