@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;0,900;1,500&display=swap');

body {
    /* background-color: #040B21; */
    font-family: 'Rubik', sans-serif;
}
a,
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}


.title {
    color: #040B21;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 40px;
}
.item-img {
    width: 140px;
}
.button {
    background-color: #0B1530;
    padding: 2px 0px;
    color: white;
    text-align: center;
    margin-top: 20px;
}
.button p {
    font-size: 1em;
    margin: 0;
    transition: .33s;
}
.button p:hover {
    text-shadow: 0px 0px 15px white;
}


/* header */
.header {
    height: 100vh;
    width: 100%;
}

/* nav */
.nav {
    justify-content: center;
}
.nav-item {
    margin: 10px;
    padding: 0;
    font-size: 12px;
}
.nav-item a {
    color: #F5D300;
}

/* logo */
.logo img {
    width: 250px;
    display: block;
    margin: auto;
    margin-top: 20vh;
}

.daftar a img {
    height: 20px;
}


/* Main Content */
.content {
    background-color: #040B21;
    background-image: url("../img/bg-pattern.png");
    background-size: 100%;
    background-repeat: repeat;
    background-position: top;
    padding: 100px 0;
    position: relative;
}

/* bg accent */
.bg-top-accent {
    background-color: #040B21;
    position: absolute;
    top: 0;
    display: flex;
}
.bg-top-accent img {
    transform: translateY(2px);
   width: 100%;
}
.bg-bot-accent {
    background-color: #040B21;
    position: absolute;
    bottom: 0;
    display: flex;
}
.bg-bot-accent img {
    transform: translateY(-2px);
    width: 100%;
}

/* Mage Desc */
.tagline {
    font-family: 'Rubik', sans-serif;
    font-size: 26px;
    text-align: center;
    color: #003366;
    line-height: 40px;
    margin: 40px 0;
    margin-top: 0;
    font-style: italic;
    position: relative;
    z-index: 1;
    padding: 40px;
}
.mage-desc {
    width: 60%;
    margin-left: 250px;
    display: flex;
}
.mage-desc-container {
    text-align: right;
    position: relative;
    z-index: 99;
}
.mage-desc-content {
    background: #fff;
    background: #1F1248;
    padding: 20px;
    /* font-size: 160px; */
}
.mage-desc-content p {
    color: #F5D300;
    margin: 0;
    font-size: 16px;
}
.mage-desc-content-bold {
    font-weight: 700;
}
.mage-desc-shadow {
    width: calc(100% - 20px);
    height: 100%;
    background: #481E7A;
    position: absolute;
    transform: translate(-10px, 20px);
    z-index: -1;
    /* bottom: -10px; */
}
.mage-desc img {
    height: 150px;
    position: absolute;
    left: 20px;
    transform: translateY(40px);
}

/* Devcomp */
.devcomp {
    margin-top: 50px;
    padding: 40px;
}
.devcomp-content {
    width: 100%;
    margin: auto;
}
.devcomp-item {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px 20px;
    grid-template-areas: "img desc";
}
.devcomp-item-title {
    color: #E5E5E5;
    width: 100%;
    background-color: #040B21;
    margin-top: 20px;
    text-align: center;
    padding: 10px 0;
    grid-area: title;
    margin: 0;
    -moz-transform: skew(15deg, 0deg);
    -webkit-transform: skew(15deg, 0deg);
    -o-transform: skew(15deg, 0deg);
    -ms-transform: skew(15deg, 0deg);
    transform: skew(15deg, 0deg);
}
.devcomp-item-title p {
    margin: 0;
    font-size: 1em;
    font-weight: 600;
    -moz-transform: skew(-25deg, 0deg);
    -webkit-transform: skew(-25deg, 0deg);
    -o-transform: skew(-25deg, 0deg);
    -ms-transform: skew(-25deg, 0deg);
    transform: skew(-25deg, 0deg);
}
.devcomp-item-img {
    grid-area: img;
}
.item-desc {
    grid-area: desc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}
.devcomp-daftar {
    width: 100%;
    position: relative;
    right: -5px;
}
.devcomp-daftar p {
    font-size: 1em;
}
.devcomp-moreinfo {
    width: 60%;
    margin: auto;
    margin-top: 40px;
}
.devcomp-moreinfo p{
    font-size: 1em;
}

/* Olimpiade */
.olimpiade {
    width: 100%;
    padding: 40px;
    margin: auto;
    margin-top: 50px;
    position: relative;
}
.olimpiade-content {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px 20px;
    grid-template-areas: "img desc";
}
.olimpiade-title {
    margin-bottom: 70px;
}
.olimpiade-desc {
    grid-area: desc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}
.olimpiade-capt {
    color: #E5E5E5;
    width: 100%;
    background-color: #040B21;
    margin-top: 20px;
    text-align: center;
    padding: 10px 0;
    grid-area: title;
    margin: 0;
    -moz-transform: skew(15deg, 0deg);
    -webkit-transform: skew(15deg, 0deg);
    -o-transform: skew(15deg, 0deg);
    -ms-transform: skew(15deg, 0deg);
    transform: skew(15deg, 0deg);
}
.olimpiade-capt p {
    margin: 0;
    font-size: 1em;
    font-weight: 600;
    -moz-transform: skew(-25deg, 0deg);
    -webkit-transform: skew(-25deg, 0deg);
    -o-transform: skew(-25deg, 0deg);
    -ms-transform: skew(-25deg, 0deg);
    transform: skew(-25deg, 0deg);
}
.olimpiade-img {
    grid-area: img;
}
.olimpiade-daftar {
    width: 100%;
    position: relative;
    left: 5px;
}
.olimpiade-dafter p {
    font-size: 1em;
}
.olimpiade-moreinfo {
    width: 100px;
    position: absolute;
    top: 80px;
    left: 40px;
}
.olimpiade-moreinfo p {
    font-size: .8em;
}

/* E-Sport */
.esport {
    width: 100%;
    margin-top: 50px;
    padding: 40px;
}
.esport-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px 10px;
    grid-template-areas: "capt img" "item-container item-container";
}
.esport-img {
    grid-area: img;
}
.esport-item-container {
    grid-area: item-container;
}
.esport-item img {
    width: 85px;
}
.esport-item .button {
    font-size: 0.5em;
    width: 75px;
    transform: translateX(10px);
    margin-top: 0px;
}
.esport-capt {
    grid-area: capt;
    color: #E5E5E5;
    width: 100%;
    background-color: #040B21;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    margin: 0;
    padding: 10px;
    -moz-transform: skew(6deg, 0deg);
    -webkit-transform: skew(6deg, 0deg);
    -o-transform: skew(6deg, 0deg);
    -ms-transform: skew(6deg, 0deg);
    transform: skew(6deg, 0deg);
}
.esport-capt p {
    margin: 0;
    font-size: 10px;
    -moz-transform: skew(-7deg, 0deg);
    -webkit-transform: skew(-7deg, 0deg);
    -o-transform: skew(-7deg, 0deg);
    -ms-transform: skew(-7deg, 0deg);
    transform: skew(-7deg, 0deg);
}
.esport-daftar {
    background-color: #E5E5E5;
}
.esport-daftar p {
    color: #0B1530;
}

/* talkshow */
.talkshow {
    width: 100%;
    padding: 40px;
    margin: auto;
    margin-top: 50px;
    position: relative;
}

/* workshop */
.workshop {
    width: 100%;
    padding: 40px;
    margin: auto;;
    position: relative;
}

.carousel {
    width: 100%;
    margin: auto;
    position: static !important;
}
.carousel-outter {
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% calc(100% - 60px), calc(100% - 40px) calc(100% - 20px), calc(100% - 40px) 100%);
}
.carousel-item img {
    width: 100%;
}
.carousel-control-next {
    position: absolute;
    top: 180px;
    right: 0px;
    width: 30px;
    height: 100px;
    opacity: 1;
}
.carousel-control-prev {
    position: absolute;
    top: 180px;
    left: 0px;
    width: 30px;
    height: 100px;
    opacity: 1;
}
.carousel-control-next img, .carousel-control-prev img {
    width: 30px;
}
.carousel-caption {
    color: #040B21;
    text-align: center;
    height: 20px;
    padding: 0;
    position: absolute;
    bottom: 0px;
    background-color: #e5e5e5;
    width: 100%;
    margin: 0;
    left: 0;
}
.carousel-caption p {
    font-size: 12px;
    margin: 0;
    padding: 0;
    transform: translateX(-30px);
}

/* footer */
footer {
    height: 50px;
    padding: 10px;
    color: #12CAD6;
    position: static;
}
footer p {
    float: left;
    position: absolute;
    font-size: 8px;
}
footer img {
    display: block;
    margin: auto;
    width: 40px;
}
.sosmed-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    position: absolute;
    top: 75vh;
    right: 40px;
}
.sosmed-container img {
    width: 30px;
}


/* TABLET VERSION */
@media (min-width: 768px) and (max-width: 1200px)  {
    .item-img {
        width: 180px;
    }
    .button {
        margin-top: 10px;
    }
    .button p {
        font-size: 1.5em;
        margin: 0;
        transition: .33s;
    }
    .button p:hover {
        text-shadow: 0px 0px 15px white;
    }

    /* nav */
    .nav {
        justify-content: start;
    }
    .nav-item {
        margin: 20px;
        padding: 0;
        font-size: 16px;
    }
    .daftar {
        margin-left: auto;
    }
    .daftar a img {
        height: 33px;
    }

    /* logo */
    .logo img {
        width: 400px;
    }

    /* Mage Desc */
    .tagline {
        font-size: 50px;
        line-height: 80px;
        margin: 100px 0;
        padding: 80px;
    }
    .mage-desc {
        width: 50%;
        margin: 100px auto;
    }
    .mage-desc-container {
        margin-left: 100px;
    }
    .mage-desc-content {
        padding: 40px;
        font-size: 0.6rem;
    }
    .mage-desc-content p {
        margin: 0;
        font-size: 1.5em;
    }
    .mage-desc-shadow {
        width: calc(100% + 40px);
        right: 0;
        bottom: -40px;
        transform: translate(0px, 0px);
    }
    .mage-desc img {
        height: 150px;
        margin-left: 10rem;
    }

    /* devcomp */
    .devcomp {
        padding: 60px;
    }
    .devcomp-content {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .devcomp-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .devcomp-item-title {
        width: 160px;
        margin-top: 10px;
        padding: 5px 0;
        position: relative;
        left: 5px;
        -moz-transform: skew(-15deg, 0deg);
        -webkit-transform: skew(-15deg, 0deg);
        -o-transform: skew(-15deg, 0deg);
        -ms-transform: skew(-15deg, 0deg);
        transform: skew(-15deg, 0deg);
    }
    .item-desc {
        margin-top: 10px;
        padding: 0;
    }
    .devcomp-item-title p {
        font-size: 1.5em;
        -moz-transform: skew(0deg, 0deg);
        -webkit-transform: skew(0deg, 0deg);
        -o-transform: skew(0deg, 0deg);
        -ms-transform: skew(0deg, 0deg);
        transform: skew(0deg, 0deg);
    }
    .devcomp-daftar {
        width: 160px;
        left: 0px;
        margin-top: 20px;
    }
    .devcomp-daftar p, .devcomp-moreinfo p {
        font-size: 1.5em;
    }
    .devcomp-moreinfo {
        margin-top: 40px;
        width: 40%;
    }

    /* Olimpiade */
    .olimpiade {
        width: 70%;
        margin-bottom: 30px;
    }
    .olimpiade-content {
        display: flex;
        flex-direction: row;
    }
    .olimpiade-desc {
        margin-left: 50px;
        padding: 0;
    }
    .olimpiade-capt {
        width: 200px;
        height: 50px;
        display: block;
        padding: 10px;
        -moz-transform: skew(7deg, 0deg);
        -webkit-transform: skew(7deg, 0deg);
        -o-transform: skew(7deg, 0deg);
        -ms-transform: skew(7deg, 0deg);
        transform: skew(7deg, 0deg) translateX(0px);
    }
    .olimpiade-desc .button {
        padding: 2px 0;
    }
    .olimpiade-desc .button p {
        font-size: 1em;
    }
    .olimpiade-capt p {
        -moz-transform: skew(-7deg, 0deg);
        -webkit-transform: skew(-7deg, 0deg);
        -o-transform: skew(-7deg, 0deg);
        -ms-transform: skew(-7deg, 0deg);
        transform: skew(-7deg, 0deg);
    }
    .olimpiade-moreinfo {
        position: static;
        width: 100%;
        transform: translateX(5px);
    }

    /* E-Sport */
    .esport {
        width: 70%;
        padding: 40px;
        margin: auto;
        margin-bottom: 30px;
    }
    .esport-content {
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: 0.2fr 1fr;
        gap: 1px 50px;
        grid-template-areas: "img capt" "img item-container";
    }
    .esport-capt {
        width: calc(100% - 20px);
        margin-bottom: 5px;
        padding: 5px;
        -moz-transform: skew(6deg, 0deg);
        -webkit-transform: skew(6deg, 0deg);
        -o-transform: skew(6deg, 0deg);
        -ms-transform: skew(6deg, 0deg);
        transform: skew(6deg, 0deg);
        grid-area: capt;
    }
    .esport-capt p {
        margin: 0;
        font-size: 10px;
    }
    .esport-item {
        align-items: center;
    }
    .esport-item img {
        width: 75px;
    }
    .esport-item-container {
        width: 100%;
        margin: auto;
    }
    .esport-item-container .button {
        font-size: 6px;
        padding: 0;
        margin-top: 5px;
        width: 70px;
        transform: translateX(5px);
    }
    
    /* talkshow */
    .talkshow {
        padding: 40px;
        width: 70%;
    }

    /* workshop */
    .workshop {
        padding: 40px;
        width: 70%;
    }

    .carousel {
        width: 100%;
    }
    .carousel-outter {
        clip-path: polygon(0 100%, 0 0, 100% 0, 100% calc(100% - 80px), calc(100% - 50px) calc(100% - 30px), calc(100% - 50px) 100%);
    }
    .carousel-control-next {
        top: 210px;
        transform: translateX(20px);
    }
    .carousel-control-prev {
        top: 210px;
        transform: translateX(-20px);
    }
    .carousel-control-next img, .carousel-control-prev img {
        width: 25px;
    }
    .carousel-caption {
        height: 30px;
        padding-top: 5px;
    }
    
    /* footer */
    footer {
        height: 150px;
        padding: 40px;
        position: relative;
    }
    footer p {
        font-size: 1em;
    }
    footer img {
        width: 70px;
    }

    .sosmed-container {
        width: 100px;
        height: 40px;
        flex-direction: row;
        top: -35px;
        right: 20px;
    }
    .sosmed-container img {
        width: 20px;
    }
}

/* DESKTOP VERSION */
@media (min-width: 1200px) { 
       
    .logo img {
        margin-top: 50px;
        width: 500px;
    }
    .item-img {
        width: 300px;
    }
    .title {
        font-size: 4em;
    }

    /* Mage Desc */
    .tagline {
        padding: 150px;
    }
    .mage-desc img {
        position: static;
    }

    /* devcomp */
    .devcomp {
        padding: 100px;
    }
    .devcomp-item-title {
        width: 260px;
        margin-top: 20px;
        padding: 10px 0;
        left: 15px;
    }
    .devcomp-item-title p {
        font-size: 2em;
    }
    .devcomp-daftar {
        width: 260px;
        left: 5px;
    }
    
    /* Olimpiade */
    .olimpiade-desc {
        margin-left: 100px;
    }
    .olimpiade-capt {
        width: 260px;
        height: 90px;
        padding: 10px;
        -moz-transform: skew(7deg, 0deg);
        -webkit-transform: skew(7deg, 0deg);
        -o-transform: skew(7deg, 0deg);
        -ms-transform: skew(7deg, 0deg);
        transform: skew(7deg, 0deg) translateX(-5px);
    }
    .olimpiade-desc .button {
        padding: 10px 0;
    }
    .olimpiade-desc .button p {
        font-size: 1.8em;
    }

    /* E-Sport */
    .esport {
        width: 70%;
        padding: 40px;
        margin: auto;
        margin-bottom: 30px;
    }
    .esport-content {
        grid-template-rows: 0.5fr 1fr;
        gap: 1px 100px;
    }
    .esport-capt {
        width: calc(100% - 12px);
        margin-bottom: 20px;
        padding: 10px;
        -moz-transform: skew(6deg, 0deg);
        -webkit-transform: skew(6deg, 0deg);
        -o-transform: skew(6deg, 0deg);
        -ms-transform: skew(6deg, 0deg);
        transform: skew(6deg, 0deg);
    }
    .esport-capt p {
        font-size: 1em;
    }
    .esport-item img {
        width: 120px;
    }
    .esport-daftar {
        background-color: #E5E5E5;
    }
    .esport-daftar p {
        color: #0B1530;
    }
    .esport-item-container .button {
        font-size: 8px;
        width: 105px;
        transform: translateX(10px);
        margin-top: 10px;
    }

    .talkshow {
        width: 50%;
    }

    /* workshop */
    .workshop {
        width: 50%;
    }

    /* carousel */
    .carousel-control-next {
        top: 320px;
        transform: translateX(70px);
    }
    .carousel-control-prev {
        top: 320px;
        transform: translateX(-70px);
    }
    .carousel-control-next img, .carousel-control-prev img {
        width: 50px;
    }
    .carousel-outter {
        clip-path: polygon(0 100%, 0 0, 100% 0, 100% calc(100% - 80px), calc(100% - 50px) calc(100% - 30px), calc(100% - 50px) 100%);
    }

    /* footer */
    .sosmed-container {
        width: 175px;
        right: 30px;
    }
    .sosmed-container img {
        width: 35px;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) { 
    .tagline {
        font-size: 50px;
        line-height: 80px;
        margin: 100px 0;
        padding: 80px;
    }
    .mage-desc {
        width: 50%;
        margin: 100px auto;
    }
    .mage-desc-container {
        margin-left: 100px;
    }
    .mage-desc-content {
        padding: 40px;
        font-size: 0.5rem;
    }
    .mage-desc-content p {
        margin: 0;
        font-size: 1.5em;
    }
    .mage-desc-shadow {
        width: calc(100% + 40px);
        right: 0;
        bottom: -40px;
        transform: translate(0px, 0px);
    }
    .mage-desc img {
        height: 150px;
        margin-left: 5rem;
    }
}

@media all and (max-width: 480px) { 
    .tagline {
        font-size: 50px;
        line-height: 80px;
        margin: 100px 0;
        padding: 80px;
    }
    .mage-desc {
        width: 75%;
        margin: 10px auto;
    }
    .mage-desc-container {
        margin-left: 80px;
    }
    .mage-desc-content {
        padding: 20px;
        font-size: 0.3rem;
    }
    .mage-desc-content p {
        margin: 0;
        font-size: 1.5em;
    }
    .mage-desc-shadow {
        width: calc(100% + 20px);
        right: 0;
        bottom: -20px;
        transform: translate(0px, 0px);
    }
    .mage-desc img {
        height: 80px;
        margin-left: 1rem;
    }
}